%componentBox {
    margin-left: 24px;
    padding-top: 27px;
    position: relative;
}

%detail_btn {
    width: 120px;
    border: 1px solid rgb(242, 7, 76);
    margin-top: 13px;
    padding: 7.5px;
    border-radius: 4px;
}

.background {
    width: 294px;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.08);
    display: flex;
    gap: 43px;
    padding: 27px 24px;
    flex-direction: column;
}

.calendar {
    &ChoiceBox {
        width: 100%;
        position: relative;
        .night {
            position: absolute;
            left: 65%;
            top: 0px;
            bottom: 0px;
            font-size: 18px;
            display: flex;
            align-items: center;
        }
    }
    &Date {
        font-weight: bold;
        font-size: 18px;
    }
    &Button {
        display: inline-flex;
        align-items: center;
        position: relative;
        width: 100%;
        height: 40px;
        padding: 0 0 0 39px;
        border: 1px solid rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        background-size: 24px auto;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.56);
        text-align: left;
        box-sizing: border-box;
        :hover {
            cursor: pointer;
        }

        &Box::after {
            display: inline-block;
            content: '';
            position: absolute;
            top: 4px;
            left: 3px;
            width: 32px;
            height: 32px;
            background: url(//image.goodchoice.kr/images/web_v3/ico_cal_2.png) 0
                0 no-repeat;

            background-size: 32px auto;
        }
    }
}

.datePicker {
    width: 100%;
    height: 40px;
    outline: none;
    display: flex;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
}
.calenderWrapper {
    font-size: 20px;
}

.input[type='checkbox'] {
    width: 21px;
    height: 21px;
    border: 1px solid black;
}
.detail {
    &Box {
        margin-top: 24px;
        padding-left: 24px;
    }
    &Cata {
        font-weight: bold;
        font-size: 18px;
    }
}

.maxMoney {
    float: right;
    display: block;
    font-size: 14px;
}
.minMoney {
    font-size: 14px;
}
.rangeBox {
    padding: 20px 0;
    width: 100%;
}

.pride {
    &Box {
        @extend %componentBox;
    }
    &Range {
        color: #ea1c51;
        font-size: 14px;
    }
}

.bed {
    &TypeBox {
        text-align: center;
        overflow: hidden;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    &Box {
        display: inline-block;
        width: 25%;

        &Input {
            position: absolute;
            z-index: -1000;
            left: -1000px;
            overflow: hidden;
            clip: rect(0 0 0 0);
            height: 1px;
            width: 1px;
            margin: -1px;
            padding: 0;
            border: 0;
        }
        &Label {
            position: relative;
            width: 76px;
            padding: 28px 0 0 0;
            height: 46px;
            display: inline-block;
            background-repeat: no-repeat;
            background-position: 0 0;
            font-size: 13px;
            line-height: normal;
            color: rgba(0, 0, 0, 0.87);
            vertical-align: top;
            cursor: pointer;
            text-align: center;
        }

        &Label::after {
            display: inline-block;
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            width: 48px;
            height: 24px;
            margin: 0 0 0 -24px;
            background: url(//image.goodchoice.kr/images/web_v3/ico_room.png) 0
                0 no-repeat;
            background-size: 192px auto;
        }
    }
}

.detail {
    &Title {
        margin-bottom: 21px;
        display: block;
        position: relative;
        font-weight: bold;
    }

    &List {
        margin-bottom: 16px;

        &Box {
            @extend %componentBox;
            input[type='checkbox'].input {
                position: absolute;
                z-index: -1000;
                left: -1000px;
                overflow: hidden;
                clip: rect(0 0 0 0);
                height: 1px;
                width: 1px;
                margin: -1px;
                padding: 0;
                border: 0;
                &:checked + label.detailListLabel {
                    background-position: 0 -21px;
                }
            }
        }

        &Grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        &Label {
            padding: 0 0 0 32px;
            height: 21px;
            display: inline-block;
            background-repeat: no-repeat;
            background-position: 0 0;
            font-size: 16px;
            line-height: 22px;
            color: rgba(0, 0, 0, 0.56);
            vertical-align: top;
            cursor: pointer;

            background-image: url('https://image.goodchoice.kr/images/web_v3/ico_chk.png');
            background-size: 21px auto;
        }
        &Label:hover {
            cursor: pointer;
        }
        &Input:hover {
            cursor: pointer;
        }
    }
}

.room {
    &Filter {
        position: relative;
        h3 {
            font-size: 18px;

            padding-bottom: 15px;
        }
        &.region {
            display: flex;
            gap: 25px;
            justify-content: space-between;
            align-items: center;
            h3 {
                flex-shrink: 0;
                padding-bottom: 0px;
            }
        }
        &.set {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0 5px;
            h3 {
                grid-row: 1/2;
            }
            button {
                grid-row: 2;
            }
        }
        &.cntPeople {
            display: flex;
            justify-content: space-between;
            h3 {
                padding-bottom: 0px;
            }
            .countButtons {
                display: flex;
                gap: 45px;
                flex-shrink: 0;
                .number {
                    text-align: center;
                    font-size: 18px;
                    font-weight: bold;
                    color: rgb(229, 16, 72);
                }
                .minus {
                    width: 24px;
                    height: 24px;
                    background: url('https://image.goodchoice.kr/images/web_v3/ico_minus.png')
                        50% 50% no-repeat;
                    background-size: 20px auto;
                }
                .plus {
                    width: 24px;
                    height: 24px;
                    background: url('https://image.goodchoice.kr/images/web_v3/ico_plus.png')
                        50% 50% no-repeat;
                    background-size: 20px auto;
                    text-indent: -9999px;
                }
            }
        }
        input[type='checkbox'].inputCheck {
            position: absolute;
            z-index: -1000;
            left: -1000px;
            overflow: hidden;
            clip: rect(0 0 0 0);
            height: 1px;
            width: 1px;
            margin: -1px;
            padding: 0;
            border: 0;

            &:checked + label.inputCheckLabel {
                background-position: 0 -21px;
            }
        }
        .inputCheckLabel {
            padding: 0 0 0 32px;
            height: 21px;
            display: inline-block;
            background-repeat: no-repeat;
            background-position: 0 0;
            font-size: 16px;
            line-height: 22px;
            color: rgba(0, 0, 0, 0.56);
            vertical-align: top;
            cursor: pointer;
            background-image: url('https://image.goodchoice.kr/images/web_v3/ico_chk.png');
            background-size: 21px auto;
        }
    }
}
