.loginSidebar {
    display: none;
    top: 50px;
    right: -60px;
    width: 213px;
    position: absolute;
    border-radius: 5px;
    padding: 32px;
    background: #fff;
    text-align: left;
    opacity: 1;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.user {
    &InfoList {
        margin-bottom: 10px;
        font-size: 16px;
    }

    &Id {
        display: block;
        overflow: hidden;
        padding-bottom: 21px;
        margin-bottom: 22px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        font-size: 16px;
        line-height: normal;
        font-weight: bold;
        white-space: nowrap;
        text-overflow: ellipsis;
        &Li {
            width: 100%;
            margin: 0 0 14px 0;
        }
    }
}

.logoutButton {
    font-size: 16px;
}

.logoutButton:hover {
    cursor: pointer;
}
