.room {
  display: grid;
  grid-template-columns: 296px auto;
  margin: 40px auto;
}
.roomSide {
  margin: 0 32px 0 31px;
}
.roomListItem {
  padding: 16px;
  background-color: rgb(254, 251, 245);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  position: relative;
  overflow: hidden;
}
.roomListItem a {
  display: flex;
  gap: 16px;
}
.roomListItem .boxImg {
  display: inline-block;
  overflow: hidden;
  position: relative;
  height: 275px;
  padding-left: 20%;
  min-width: 152px;
}
.roomListItem .boxImg img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translate(-50%, -50%);
}
.roomListItem .boxTxt {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 0;
}
.roomListItem .boxTxt .info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.roomListItem .boxTxt .infoTit {
  font-size: 22px;
  line-height: 1;
  padding-top: 8px;
}
.roomListItem .boxTxt .infoAddr {
  font-size: 18px;
  line-height: 19px;
}
.roomListItem .boxTxt .infoScore {
  font-size: 18px;
  line-height: 19px;
  color: rgb(255, 167, 38);
}
.roomListItem .boxTxt .infoScore em {
  display: inline-block;
  height: 17px;
  padding: 1px 2px;
  position: relative;
  top: -1px;
  border-radius: 4px;
  background: rgb(255, 167, 38);
  font-size: 14px;
  line-height: 15px;
  color: #fff;
}
.roomListItem .boxTxt .infoOpt {
  color: rgba(0, 0, 0, 0.56);
  font-size: 18px;
  line-height: 19px;
}
.roomListItem .boxTxt .infoEvt {
  color: rgb(22, 141, 133);
  font-size: 18px;
  line-height: 1.4;
}
.roomListItem .boxTxt .price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 20px;
  line-height: 1;
  padding: 9px 0 0 0;
  gap: 9px;
}
.roomListItem .boxTxt .priceDetail {
  color: rgba(0, 0, 0, 0.8470588235);
}
.roomListItem .boxTxt .priceDetail .badge {
  position: relative;
  top: -1px;
  padding: 0 3px;
  font-size: 14px;
  background-color: rgb(248, 113, 111);
  color: #fff;
  vertical-align: bottom;
}
.roomListItem .boxTxt .priceDetail .bold {
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.roomListItem .boxTxt .priceDetail .bold.pink {
  color: rgb(248, 113, 111);
}
.roomDetail {
  margin: 42px 32px 0 31px;
  display: flex;
  justify-content: space-between;
}
.roomDetail .boxImg {
  flex-shrink: 0;
  width: 490px;
  background-color: #e9e9e9;
}
.roomDetail .boxTxt {
  flex-shrink: 0;
  width: 424px;
}
.roomDetail .boxTxt .tit {
  display: flex;
  flex-direction: column;
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 5px;
}
.roomDetail .boxTxt .info {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.roomDetail .boxTxt .infoScore {
  font-size: 18px;
  color: rgb(255, 167, 38);
}
.roomDetail .boxTxt .infoScore em {
  display: inline-block;
  height: 17px;
  padding: 1px 2px;
  position: relative;
  top: -1px;
  border-radius: 4px;
  background: rgb(255, 167, 38);
  font-size: 14px;
  line-height: 15px;
  color: #fff;
  margin-right: 5px;
}
.roomDetail .boxTxt .infoAddr {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.56);
}
.roomDetail .boxTxt .infoOpt {
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px 2px 2px 2px;
  background: #f4f4f4;
  line-height: normal;
  color: rgba(0, 0, 0, 0.56);
}
.roomDetail .boxTxt .infoEvt {
  margin: 8px 0 10px;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  padding: 12px 20px;
  overflow: hidden;
  border-radius: 4px;
  background: linear-gradient(to right, #009abd 0%, #12b1a2 100%);
}
.roomDetail .boxTxt .infoCeo {
  padding: 26px 24px;
  background: rgb(250, 250, 250);
}
.roomDetail .boxTxt .infoCeo strong {
  display: block;
  margin-bottom: 15px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
}
.roomDetail .boxTxt .infoCeo > span {
  display: block;
  overflow: hidden;
  height: auto;
  font-size: 16px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.56);
}
.roomDetail .boxTxt .infoCeo > span.clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 52px;
  text-overflow: ellipsis;
}/*# sourceMappingURL=room.module.css.map */