@use '../styles/scss/' as *;

.slide {
    position: relative;
    &Wrap {
        position: relative;
        overflow: hidden;
        width: 460px;
        height: 86px;
        margin: 0 0 0 16px;
        background: #fff;
    }
    &View {
        width: 490px;
        height: 348px;
        margin-bottom: 13px;
        @include flex(center, center);
        background-color: #f4f4f4;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
    &List {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        &Item {
            display: inline-block;
            width: 115px;
            height: 86px;
            padding: 2px;
            border: 3px solid #fff;
            border-radius: 4px;
            overflow: hidden;
            cursor: pointer;
            text-align: center;
            background-color: #f4f4f4;
            &:first-child {
                border: 1px solid rgba(0, 0, 0, 0.38);
            }
            img {
                height: 100%;
                object-fit: cover;
            }
            &.active {
                border: 1px solid rgba(0, 0, 0, 0.38);
            }
        }
    }
    &Controls {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 86px;
    }
}
