@use '../../styles/scss/' as *;

.btn {
    &Default {
        height: 40px;
        width: 100%;
        border: 1px solid $pink;
        background-color: $pink;
        color: #fff;
        border-radius: 4px;
        font-size: 16px;
        &.disable {
            border: 1px solid #ebebeb !important;
            background: rgb(235, 235, 235) !important;
            color: #0000008f;
            font-weight: bold;
        }
        &.sub {
            background: #fff;
            color: $pink;
        }
    }
}
