@use '../../styles/scss' as *;

.top {
    background: $main-color;
    min-height: 220px;
    padding-top: $header-height;
    .inner {
        padding: 0 31px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 0 auto;
        width: 1024px;
    }
    &Tit {
        padding: 35px 0 0 0px;
        font-size: 38px;
        font-weight: normal;
        letter-spacing: -1px;
        color: #fff;
    }
}
