@mixin flex($alingn-item, $justify-content) {
    display: flex;
    align-items: $alingn-item;
    justify-content: $justify-content;
}
@mixin flexColumn($alingn-item, $justify-content) {
    display: flex;
    flex-direction: column;
    align-items: $alingn-item;
    justify-content: $justify-content;
}

@mixin animate($animation, $duration, $method, $times) {
    animation: $animation $duration $method $times;
}
@mixin keyframes($name) {
    @keyframes #{$name} {
        @content;
    }
}
