$main-color: rgb(247, 50, 63);

$header-height: 70px;

$white: #fff;
$white-light: #ffffffcc;
$black: #000;
$black-light: #000000de;
$green: #168d85;
$yellow: rgb(255, 167, 38);
$pink: rgb(242, 7, 76);
$red-light: rgba(248, 113, 111, 1);
$skeleton-bg: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
);

$mobile-width: 600px;
$tablet-width: 1024px;
